.page-container {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60%;
    top: 50%;
    left: 50%;
}

.text-title {
    font-size: 3vw;
    margin-bottom: 40px;
    text-align: center;
}

.columns-container {
    display: flex;
    gap: 40px; /* Space between columns */
    margin-top: 20px;
}

.column {
    flex: 1; /* Makes columns equal width */
}

.column.left {
    text-align: left;
}

.column.right {
    text-align: left;
}

.resume-page-container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 90px;
}

.resume-container {
    width: 50vw;
    max-width: 800px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.resume-pdf {
    width: 100%;
    height: 100%;
}

.download-container {
    text-align: center;
    margin-top: 20px;
}

.download-button {
    display: inline-block;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: rgba(50, 50, 50, 0.8);
}