@font-face {
    font-family: 'Pixelated';
    src: url('../Fonts/Jersey10-Regular.ttf') format('truetype');
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Pixelated', 'Courier New', Courier, monospace;
    color: rgb(66, 66, 66);
}

h1 {
    font-weight: 400;
}

p {
    font-weight: 200;
    font-size: 1vw;
}

.titleHolder {  
    background-color: rgba(0, 0, 0, 0.1); 
    width: 50%; 
    padding: 40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleName, .titleQuip {
    margin: 0;
    padding: 0;
    line-height: 0.75;
    text-align: left; 
}

.titleName {
    font-size: 2vw;
}

.titleQuip {
    font-size: 3vw;
    margin-top: 5px;
}